@using Geonorge.Forvaltningsinformasjon.Web.Models.Common;

@model Geonorge.Forvaltningsinformasjon.Web.Models.Common.MapViewModel

<div style="display:flex;height:@MapViewModel.ViewHeight" id="root"></div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>

<script>
    $.getScript("/dist/js/map/main.1f19ae8e.js", function () {
        var params = [];
        params.mapItems = [
            {
                'Title': 'Abas',
                'DistributionProtocol': 'OGC:WMS',
                'GetCapabilitiesUrl': '@Model.Url',
                'addLayers': ['@Model.Layer']
            }
        ];
        params.zoom = @Model.Zoom;
        params.lat = @Model.Latitude;
        params.lon = @Model.Longitude;
        params.crs = '@Model.CoordinateSystem';

        main.map(params, document.getElementById('root'));
    });
</script>


