@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Geonorge.Forvaltningsinformasjon.Web.Models.Plandata.CountiesViewModel

@{
    Layout = "../_Layout.cshtml";
    ViewData["currentTab"] = "Geosynchronization";
}

@section titleSection
{
    <div style="text-align:center">
        <heading-text>
            <h2 size="4">@Localizer["Landsoversikt"]</h2>
        </heading-text>
        <p>
            @Localizer["Antall kommuner i Norge som geosynkroniserer plandata inn til NAP: "]<strong>@Model.GeosynchIntroducedCount</strong>
        </p>
    </div>
}

@section aspectsSection
{
    <div class="flex-container flex-row-reverse">
        <div class="flex-item">
            <gn-table>
                <table>
                    <thead>
                        <tr>
                            <th>@Localizer["Fylkesnr."]</th>
                            <th>@Localizer["Fylke"]</th>
                            <th style="max-width: 180px;">@Localizer["Kommuner som geosynkroniserer"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var county in Model.Counties)
                        {
                            <tr>
                                <td>@county.Number</td>
                                <td><a href="/nap/info/county?id=@county.Number">@county.Name</a></td>
                                <td>@county.GeosynchIntroducedCount av @county.MunicipalityCount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </gn-table>
        </div>
        <div class="flex-item flex-1">
            <div id="r_map" style="height:600px; width:500px;"></div>
            <gn-table>
                <table>
                <tr>
                    <td><div class="square"></div></td>
                    <td>&nbsp;</td>
                    <td>
                    Geosynkroniseringskommune
                    </td>
                </tr>
                </table>
            </gn-table>
        </div>
    </div>
}

@section Scripts {
    <script src="~/dist/js/map/main.js"></script>
    <script>
        var params = [];
        params.mapItems = [
            {
                'Title': 'Planregisterstatus',
                'DistributionProtocol': 'OGC:WMS',
                'GetCapabilitiesUrl': 'https://openwms.statkart.no/skwms1/wms.planregisterstatus?request=GetCapabilities&service=WMS',
                'addLayers': ['Geosynkronisering']
            }
        ];

        params.zoom = 2.8;
        params.lat = 7162299.5988298645;
        params.lon = 537500.9925542421;
        params.crs = 'EPSG:25833';

        main.map(params, document.getElementById("r_map"));
    </script>
}