@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Geonorge.Forvaltningsinformasjon.Web.Models.Plandata.MunicipalityViewModel

@{
    Layout = "../_Layout.cshtml";
    ViewData["currentTab"] = "Geosynchronization";
}

@section titleSection
{
    <div style="text-align:center">
        <heading-text>
            <h2 size="4">@Localizer["Kommuneoversikt for "] @Model.Name</h4>
        </heading-text>
        <p>
            @Model.StatusMessage
        </p>
    </div>
}

@section aspectsSection
    {
    <style>
        .grey {
            background: grey;
        }

        .green {
            background: green;
        }

        .yellow {
            background: yellow;
        }

        .red {
            background: red;
        }
        .code {
            white-space: pre;
        }
    </style>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>@Localizer["Datasett"]</th>
                    <th>@Localizer["Oppdateringsregime"]</th>
                    <th style="white-space: nowrap;" title="Dato for sist gang endringer ble mottatt/utført i datasettet.">@Localizer["Siste leveranse fra kommune"]</th>
                    <th style="white-space: nowrap;" title="Automatisk filgenerering på Geonorge. Kjører også når det ikke er ny dataleveranse.">@Localizer["Fil generert på GeoNorge"]</th>
                    <th>@Localizer["Status"]</th>
                    <th>@Localizer["Kommentar"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dataSet in Model.DataSets)
                {
                    <tr>
                        <td>@dataSet.Name</td>
                        <td>@dataSet.UpdateTypeName</td>
                        <td>@(dataSet.LastDeliveryFromMunicipality.HasValue ? dataSet.LastDeliveryFromMunicipality.Value.ToString("dd'.'MM'.'yyyy") : "")</td>
                        <td>@(dataSet.FileGeneratedGeonorge.HasValue ? dataSet.FileGeneratedGeonorge.Value.ToString("dd'.'MM'.'yyyy") : "")</td>
                        <td title="@dataSet.StatusDescription" class="@dataSet.Status"></td>
                        <td><span class="code">@dataSet.Comment</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
