@using Microsoft.AspNetCore.Mvc.Localization
@inject ApplicationSettings AppSettings
@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["Forvaltningsinformasjon"];
}

@section scripts {
<script>
    geonorge.BreadcrumbList.BreadcrumbList.renderBreadcrumbs([
        {
            name: 'Geonorge',
            url: '@AppSettings.UrlGeonorgeRoot'
        },
        {
            name: '@Localizer["Forvaltningsinformasjon"]',
            url: '/'
        }
    ]);
</script>
}

<body-text>
    <p class="ingress italic">
        Forvaltningsinformasjon er en samling informasjon og utvidede metadata som faller utenfor standarden for metadata, i hovedsak angående datasett forvaltet av Geovekst-samarbeidet.
    </p>
    <p class="ingress">
        Informasjonen omfatter aspekter som innhenting, forvaltning og innsikt i selve kartdataene.
        Sidene er under utvikling. Tilbakemeldinger på innholdet er sterkt ønskelig og kan rettes til <a href="mailto: post@norgedigitalt.no">post@norgedigitalt.no</a>.
    </p>
    <heading-text>
        <h2 underline>
            FKB-data
        </h2>
    </heading-text>
    <div class="flex-container">
        <div class="flex-item flex-1 ingress">
            <a href="~/fkb-data/management/direct-update-info" class="block">
                @Localizer["Forvaltning FKB"]
            </a>
            @Localizer["Informasjon om forvaltningen av FKB-datasettene, status på drift og filproduksjon, samt oversikt over aktivitet."]
        </div>
        <div class="flex-item flex-1 ingress">
            <a href="~/fkb-data/data-content/data-quality-classification" class="block">
                @Localizer["Datainnhold FKB"]
            </a>
            @Localizer["Informasjon om inndeling i kvalitetsklasser, samt informasjon om kvaliteten på dataene."]
        </div>
    </div>
    <heading-text>
        <h2 underline>
            Kartleggingsprosjekter
        </h2>
    </heading-text>
    <div class="ingress">
        <a href="~/mapping-projects/geovekst/projects" class="block">
            @Localizer["Kartleggingsprosjekter Geovekst"]
        </a>
        @Localizer["Informasjon om kartleggingsprosjekter i regi av Geovekst"]
    </div>
    <heading-text>
        <h2 underline>
            Plandata i Norge Digitalt Arealplankartdatabase (NAP)
        </h2>
    </heading-text>
    <div class="flex-container">
        <div class="flex-item flex-1 ingress">
            <a href="~/nap/info" class="block">
                @Localizer["Dataflyt i NAP"]
            </a>
            @Localizer["Informasjon om dataflyten i Norge Digitalt Arealplankartdatabase (NAP) – Kartverkets sammenstilte database av digitale kartdata for kommuneplaner, kommunedelplaner og reguleringsplaner."]
        </div>
        <div class="flex-item flex-1 ingress">
            <a href="~/rapport" class="block">
                @Localizer["Rapporter plandata"]
            </a>
            @Localizer["Kommunevise rapporter på kvalitet, ajourholdsgrad, samsvar mellom datasett m.m."]
        </div>
    </div>
</body-text>
