@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Geonorge.Forvaltningsinformasjon.Web.Models.Plandata.CountiesViewModel

@{
    Layout = "../_Layout.cshtml";
    ViewData["currentTab"] = "DirectUpdateInfo";
}

@section titleSection
{
    <div style="text-align:center">
        <h4>@Localizer["Landsoversikt"]</h4>
        <p>
            @Localizer["Antall kommuner i Norge som geosynkroniserer plandata inn til NAP: "]<strong>@Model.GeosynchIntroducedCount</strong>
        </p>
    </div>
}

@section aspectsSection
{
    <div class="col-md-6" style="top: -80px">
        <div id="r_map" style="height:800px; width:600px"></div>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>@Localizer["Fylkesnr."]</th>
                    <th>@Localizer["Fylke"]</th>
                    <th>@Localizer["Kommuner som geosynkroniserer"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var county in Model.Counties)
                {
                    <tr>
                        <td>@county.Number</td>
                        <td>@county.Name</td>
                        <td>@county.GeosynchIntroducedCount av @county.MunicipalityCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@section Scripts {
    <script src="~/dist/js/jquery/jquery.js"></script>
    <script src="~/dist/js/map/main.js"></script>
    <script>
        var params = [];
        params.mapItems = [
            {
                'Title': 'Planregisterstatus',
                'DistributionProtocol': 'OGC:WMS',
                'GetCapabilitiesUrl': 'https://openwms.statkart.no/skwms1/wms.planregisterstatus?request=GetCapabilities&service=WMS',
                'addLayers': ['Geosynkronisering']
            }
        ];

        params.zoom = 3;
        params.lat = 7184670.676487714;
        params.lon = 526476.1128204655;
        params.crs = 'EPSG:25833';

        main.map(params, document.getElementById("r_map"));
    </script>
}