@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Geonorge.Forvaltningsinformasjon.Web.Models.FkbData.Management.Aspects.TransactionData.TransactionDataViewModel

@{
    Layout = "../_Layout.cshtml";
    ViewData["currentTab"] = "TransactionData";
}

@section titleSection
{
@RenderSection("titleSection");
}

@section aspectsSection
{
        <div class="col-md-4" id="r_map">
            <partial name="~/Views/Common/Map.cshtml" model="@Model.MapViewModel" />
        </div>
        <div class="col-md-8">
            <table class="table" onload="onLoad()">
                <thead>
                    <tr>
                        <th>@Localizer["Datasett/Transaksjoner"]</th>
                        <th>@Localizer["Siste 7 dager"]</th>
                        <th>@Localizer["Siste 30 dager"]</th>
                        <th>@Localizer["Siste 365 dager"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transactionData in Model.TransactionData)
                    {
                        <tr>
                            <td>@transactionData.DataSetName</td>
                            <td>
                                @if (transactionData.SumLastWeek > 0)
                                {
                                    <text>
                                        <a onclick="updateMap('@transactionData.DataSetName', 0)">@transactionData.SumLastWeek</a>
                                    </text>
                                }
                                else
                                {
                                    @transactionData.SumLastWeek;
                                }
                            </td>
                            <td>
                                @if (transactionData.SumLastMonth > 0)
                                {
                                    <text>
                                        <a onclick="updateMap('@transactionData.DataSetName', 1)">@transactionData.SumLastMonth</a>
                                    </text>
                                }
                                else
                                {
                                    @transactionData.SumLastMonth;
                                }
                            </td>
                            <td>
                                @if (transactionData.SumLastYear > 0)
                                {
                                    <text>
                                        <a onclick="updateMap('@transactionData.DataSetName', 2)">@transactionData.SumLastYear</a>
                                    </text>
                                }
                                else
                                {
                                    @transactionData.SumLastYear;
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>@Localizer["Totalt"]</td>
                        <td>@Model.SumLastWeek</td>
                        <td>@Model.SumLastMonth</td>
                        <td>@Model.SumLastYear</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script type="text/javascript">
            function updateMap(dataSetName, period) {
                $('#r_map').load('/fkb-data/management/transaction-data/update-map?dataSetName=' + dataSetName + '&period=' + period + '&mapViewModel=@Json.Serialize(Model.MapViewModel)');
                refreshSelection();
            }
        </script>
    }