@using Microsoft.AspNetCore.Mvc.Localization

@model Geonorge.Forvaltningsinformasjon.Web.Models.FkbData.DataContent.DataQualityClassificationModel

@inject IViewLocalizer Localizer

@{
    Layout = "../_Layout.cshtml";
    ViewData["currentTab"] = "DataQualityClassification";
}

@section aspectsSection
    {
    <div style="text-align:center">
        <h4>@Localizer["Landsoversikt"]</h4>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Klasse"]</th>
                <th>@Localizer["Areal"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Classifications)
            {
            <tr>
                <td>@item.Class</td>
                <td>@item.Area</td>
            </tr>
            }
        </tbody>
    </table>
}