@using Microsoft.AspNetCore.Mvc.Localization

@model Geonorge.Forvaltningsinformasjon.Web.Models.FkbData.DataContent.DataQualityClassification.DataQualityClassificationModel

@inject IViewLocalizer Localizer

@{
    Layout = "../_Layout.cshtml";
    ViewData["currentTab"] = "DataQualityClassification";
}

@section aspectsSection
    {
    <div style="text-align:center">
        <h4>@Localizer["Kommuneoversikt for "] @Model.AdministrativeUnitName</h4>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Klasse"]</th>
                <th>@Localizer["Areal"] (km<sup>2</sup>)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Classifications)
            {
                <tr>
                    <td>FKB-@item.Class</td>
                    <td>
                        @if (item.Area > 10000.0)
                        {
                            <text>@((item.Area / 1000000.0).ToString("### ##0.00"))</text>;
                        }
                        else
                        {
                            <text>@item.Area.ToString("# ##0.00") <i>m<sup>2</sup></i></text>;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}