@using Microsoft.AspNetCore.Mvc.Localization
@model List<Geonorge.Forvaltningsinformasjon.Web.Models.FkbData.Management.OperationalStatus.AtomFeedEntryViewModel>

@inject IViewLocalizer Localizer

@{
    Layout = "../_Layout.cshtml";
}

@section breadcrumb
{
    <li><a href="">@Localizer["Driftsstatus"]</a></li>
}

@section fkbSection
{
    <div class="col-md-6">
        <div class="row">
            <a href="http://status.kartverket.no">http://status.kartverket.no</a>
            @Localizer["(direktelenke)"]
            <br/><br />
        </div>
            @foreach (var item in Model)
            {
                <div class="row">
                    @Html.Raw(item.Title)
                    @Html.Raw(item.Content)
                    @Html.Raw($"Opprettet: {item.Published.ToString("dd'.'MM'.'yyyy")} Sist oppdatert: {item.Updated.ToString("dd'.'MM'.'yyyy")}")
                </div>
                <br />
            }
    </div>
}