@using Microsoft.AspNetCore.Mvc.Localization
@model List<Geonorge.Forvaltningsinformasjon.Web.Models.FkbData.Management.OperationalStatus.AtomFeedEntryViewModel>

@inject IViewLocalizer Localizer

@{
    Layout = "../_Layout.cshtml";
}

@section breadcrumb
{
    <li><a href="">@Localizer["Driftsstatus"]</a></li>
}

@section fkbSection
{
    <div class="col-md-9" style="margin:10px">
        <div class="row">
            <h4>
                @Localizer["Driftsstatusmeldinger fra "]
                <a href="http://status.kartverket.no">http://status.kartverket.no</a>
            </h4>
            <br /><br />
        </div>
            @foreach (var item in Model)
            {
                <div class="row">
                    <b>
                        @Html.Raw(item.Title)
                    </b>
                    @Html.Raw(item.Content)

                    <small>
                        @Html.Raw($"Opprettet: {item.Published.ToString("dd'.'MM'.'yyyy")} Sist oppdatert: {item.Updated.ToString("dd'.'MM'.'yyyy")}")
                    </small>
                </div>
                <br />
                <hr />
            }
    </div>
}