@using Microsoft.AspNetCore.Mvc.Localization
@using Geonorge.Forvaltningsinformasjon.Web.Models.MappingProjects.Geovekst
@model Geonorge.Forvaltningsinformasjon.Web.Models.MappingProjects.Geovekst.MappingProjectViewModel

@inject IViewLocalizer Localizer

@{
    Layout = "../_Layout.cshtml";
}

@{
    ViewData["Title"] = Localizer["Prosjekter"];
    ViewData["currentTab"] = "Projects";
}

@section projectsSection
{
    <div class="col-md-2" style="top:35px">
        @*      <partial name="~/Views/Common/Map.cshtml" model="@Model.MapViewModel" />*@
    </div>
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>@Localizer["Prosjekt."]</th>
                    <th>@Localizer["Kartkontor"]</th>
                    <th>@Localizer["Kommune"]</th>
                    <th>@Localizer["Gjennomføringsår"]</th>
                    <th>@Localizer["Prosjektstatus"]</th>
                    <th>@Localizer["Leveransetype"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.MappingProjects)
                {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.OfficeName</td>
                    <td title="@project.MunicipalityToolTip">@Html.Raw(project.MunicipalityNames)</td>
                    <td>@project.Year</td>
                    <td>@project.State</td>
                    <td>@project.DeliveryTypes</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}