@using Microsoft.AspNetCore.Mvc.Localization
@model Geonorge.Forvaltningsinformasjon.Web.Models.MappingProjects.Geovekst.MappingProjectViewModel

@inject IViewLocalizer Localizer

@{
    Layout = "../_Layout.cshtml";
}

@{
    ViewData["Title"] = Localizer["Prosjekter"];
}

@section projectsSection
{
<div class="flex-container">
    <div class="flex-item" style="width: 200px; margin-top: 7px;">
        <form action="~/mapping-projects/geovekst/projects" method="get">

            <gn-label block>
                <label for="OfficeId">Kartkontor</label>
            </gn-label>
            <gn-select block fullwidth>
                <select id="OfficeId" name="OfficeId" onchange="this.form.submit()"
                    class="chosen-select form-control">
                    <option value="">@Localizer["Alle"]</option>
                    @foreach (var office in Model.Offices)
                    {
                    if (office.Id == Model.SelectedOffice)
                    {
                    <option selected value="@office.Id">@office.Name</option>
                    }
                    else
                    {
                    <option value="@office.Id">@office.Name</option>
                    }
                    }
                </select>
            </gn-select>

            <gn-label block>
                <label for="MunicipalityNumber">Kommune</label>
            </gn-label>
            <gn-select block fullwidth>
                <select id="MunicipalityNumber" name="MunicipalityNumber" onchange="this.form.submit()"
                    class="chosen-select form-control">
                    <option value="">@Localizer["Norge (hele landet)"]</option>
                    @foreach (var municipality in Model.Municipalities)
                    {
                    if (municipality.Number == Model.SelectedMunicipality)
                    {
                    <option selected value="@municipality.Number">@municipality.Name</option>
                    }
                    else
                    {
                    <option value="@municipality.Number">@municipality.Name</option>
                    }
                    }
                </select>
            </gn-select>

            <gn-label block>
                <label for="State">Prosjektstatus</label>
            </gn-label>
            <gn-select block fullwidth>
                <select id="State" name="State" onchange="this.form.submit()" class="chosen-select form-control">
                    @foreach (var state in Model.States)
                    {
                    if (state.Key == Model.SelectedState)
                    {
                    <option selected value="@state.Key">@state.Value</option>
                    }
                    else
                    {
                    <option value="@state.Key">@state.Value</option>
                    }
                    }
                </select>
            </gn-select>

            <gn-label block>
                <label for="DeliveryType">Leveransetype</label>
            </gn-label>
            <gn-select block fullwidth>
                <select id="DeliveryType" name="DeliveryType" onchange="this.form.submit()"
                    class="chosen-select form-control">
                    @foreach (var deliveryType in Model.DeliveryTypes)
                    {
                    if (deliveryType.Key == Model.SelectedDeliveryType)
                    {
                    <option selected value="@deliveryType.Key">@deliveryType.Value</option>
                    }
                    else
                    {
                    <option value="@deliveryType.Key">@deliveryType.Value</option>
                    }
                    }
                </select>
            </gn-select>

            <gn-label block>
                <label for="Year">Datafangstår</label>
            </gn-label>
            <gn-select block fullwidth>
                <select id="Year" name="Year" onchange="this.form.submit()" class="chosen-select form-control">
                    <option value="">@Localizer["Alle"]</option>
                    @foreach (var year in Model.Years)
                    {
                    if (year == Model.SelectedYear)
                    {
                    <option selected value="@year">@year</option>
                    }
                    else
                    {
                    <option value="@year">@year</option>
                    }
                    }
                </select>
            </gn-select>
        </form>
    </div>
    <div class="flex-item flex-1">
        <gn-table>
            <table>
                <thead>
                    <tr>
                        <th>@Localizer["Prosjekt"]</th>
                        <th>@Localizer["Kartkontor"]</th>
                        <th>@Localizer["Kommune"]</th>
                        <th>@Localizer["Datafangstår"]</th>
                        <th>@Localizer["Prosjektstatus"]</th>
                        <th>@Localizer["Leveransetype"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model.MappingProjects.OrderByDescending(o => o.Year).ToList())
                    {
                    <tr>
                        <td>
                            <a href="~/mapping-projects/geovekst/projects/project-details?id=@project.Id">
                                @project.Name
                            </a>
                        </td>
                        <td>@project.OfficeName</td>
                        <td title="@project.MunicipalityToolTip">@Html.Raw(project.MunicipalityNames)</td>
                        <td>@project.Year</td>
                        <td title="@project.StateToolTip">@project.State</td>
                        <td>@project.DeliveryTypes</td>
                    </tr>
                    }
                </tbody>
            </table>
        </gn-table>
    </div>
</div>
}