@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Geonorge.Forvaltningsinformasjon.Web.Models.FkbData.Management.Area.MunicipalityViewModel

@{
    Layout = "../_Layout.cshtml";
}

@{
    ViewData["Title"] = Localizer["Forvaltning FKB"];
}


@section breadcrumb
    {
    <li><a href="">@Localizer["Forvaltning FKB"]</a></li>
    <li><a href="">@Model.Name.</a></li>
}

@section fkbSection
    {
    <p>@string.Format(Localizer[Model.Caption].Value, Model.DateTime.HasValue ? Model.DateTime.Value.ToString("dd'.'MM'.'yyyy") : "")</p>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>@Localizer["Datasett"]</th>
                    <th>@Localizer["Forvaltningstype"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dataSet in Model.DataSets)
                {
                    <tr>
                        <td>@dataSet.Name</td>
                        <td title="@dataSet.UpdateType.Description">@dataSet.UpdateType.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
