@using Microsoft.AspNetCore.Mvc.Localization
@inject ApplicationSettings AppSettings
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geonorge.Forvaltningsinformasjon - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/chart.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<body class="geonorge-container prototype geonorge fixed-menu-margin">
    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    <main-navigation environment="@AppSettings.EnvironmentName.ToLower()"></main-navigation>
    <content-container>
        <breadcrumb-list id="breadcrumb-list"></breadcrumb-list>
        @if (ViewData["title"] != null)
        {
            <heading-text>
                <h1 underline>@ViewData["title"]</h1>
            </heading-text>
        }
        @RenderBody()
    </content-container>

    <geonorge-footer language="no" version="@AppSettings.BuildVersionNumber"
        environment="@AppSettings.EnvironmentName.ToLower()" />

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/init.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/BodyText.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/BreadcrumbList.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/ContentContainer.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GnInput.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GnSelect.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GnTable.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GeonorgeFooter.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/HeadingText.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/MainNavigation.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/NavigationTabs.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
