@using Microsoft.AspNetCore.Mvc.Localization
@using System.IO

@inject ApplicationSettings AppSettings
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geonorge.Forvaltningsinformasjon - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/bower_components/kartverket-felleskomponenter/assets/css/vendorfonts.min.css" asp-append-version="false" />
    <link rel="stylesheet" type="text/css" href="~/css/chart.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css"/>
</head>
<body class="geonorge-container prototype geonorge">
    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    <script>
    var applicationEnvironment = '@AppSettings.EnvironmentName'.toLowerCase();
    var applicationVersionNumber = '@AppSettings.BuildVersionNumber';
    var authenticationData = { supportsLogin: false, isAuthenticated: false };
    var cultureData = { supportsMultiCulture: "true", currentCulture: 'no' };
    </script>

    @Html.Raw(File.ReadAllText("wwwroot/dist/partials/Header.html"))

    <div class="body-content">
        <div class="container container-breadcrumbs" id="navTabCont">
            <ul class="breadcrumbs col-md-12">
                <li><a href="@AppSettings.UrlGeonorgeRoot">Geonorge</a></li>
                <li><a href="/">@Localizer["Forvaltningsinformasjon"]</a></li>
                @RenderSection("breadcrumb", false)
            </ul>
        </div>
        <div class="container">
            <section class="Heading">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="small-h1">@ViewData["title"]</h1>
                    </div>
                    <div class="col-sm-12">
                        <span class="separator-lg"></span>
                    </div>
                </div>
            </section>
            @RenderBody()
        </div>
    </div>
    
    @Html.Raw(File.ReadAllText("wwwroot/dist/partials/Footer_v2.html"))

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-shared/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-shared/main.js" asp-append-version="true"></script>

    <script>
    searchOption.epiBaseUrl = '@AppSettings.UrlGeonorgeRoot';
    </script>

    <script src="~/dist/js/geonorge-base/init.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
