@using Geonorge.Forvaltningsinformasjon.Services.Authorization;
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.Localization
@inject ApplicationSettings AppSettings
@inject IViewLocalizer Localizer

@{
    var loggedInCookie = Context.Request.Cookies["_loggedIn"];
    if (loggedInCookie != null && loggedInCookie == "true" && !User.IsAuthenticated())
    {

        var currentUrl = $"https://{Context.Request.Host}{Context.Request.Path}";
        Context.Response.Redirect("/LogIn?redirectUrl=" + currentUrl);

    }
}

<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geonorge.Forvaltningsinformasjon - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/chart.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script>var environmentIsProduction = @(AppSettings.EnvironmentName == "" ? "true" : "false");</script>
    <script>
        if (environmentIsProduction) {

            /* Google Tag Manager */
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-MR2X5P');
        }</script>

</head>
@{
    var access_token = "";
    dynamic userInfo = new System.Dynamic.ExpandoObject();
    userInfo.name = "";
    userInfo.email = "";

    dynamic organization = new System.Dynamic.ExpandoObject();
    organization.organizationName = "";
    organization.organizationNumber = "";

    <!-- user claims: -->
    var cp = (ClaimsPrincipal)User;
    foreach (var claim in cp.Claims)
    {
        <!-- @claim.Type = @claim.Value -->
        if (claim.Type == "Name")
        {
            userInfo.name = claim.Value;
        }
        if (claim.Type == "Email")
        {
            userInfo.email = claim.Value;
        }
        if (claim.Type == "OrganizationOrgnr")
        {
            organization.organizationNumber = claim.Value;
        }
        if (claim.Type == "OrganizationName")
        {
            organization.organizationName = claim.Value;
        }
        if (claim.Type == "access_token")
        {
            access_token = claim.Value;
        }
    }

    string userInfoJson = Newtonsoft.Json.JsonConvert.SerializeObject(userInfo);
    string organizationJson = Newtonsoft.Json.JsonConvert.SerializeObject(organization);
}
<body class="geonorge-container prototype geonorge fixed-menu-margin">
    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    <main-navigation userinfo='@userInfoJson' organization='@organizationJson' environment="@AppSettings.EnvironmentName.ToLower()" signinurl="@AppSettings.RedirectUri.Replace("logout", "login")"
                     signouturl="@AppSettings.RedirectUri"
                     isLoggedIn="@User.IsAuthenticated().ToString().ToLower()"></main-navigation>
    <content-container>
        <breadcrumb-list id="breadcrumb-list"></breadcrumb-list>
        @if (ViewData["title"] != null)
        {
            <heading-text>
                <h1 underline>@ViewData["title"]</h1>
            </heading-text>
        }
        @RenderBody()
    </content-container>

    <geonorge-footer language="no" version="@AppSettings.BuildVersionNumber"
        environment="@AppSettings.EnvironmentName.ToLower()" />

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/init.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/BodyText.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/BreadcrumbList.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/ContentContainer.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GnInput.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GnSelect.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GnTable.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GeonorgeFooter.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/HeadingText.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/MainNavigation.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/NavigationTabs.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
