@using Microsoft.AspNetCore.Mvc.Localization
@inject ApplicationSettings AppSettings
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geonorge.Forvaltningsinformasjon - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/chart.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script>var environmentIsProduction = @(AppSettings.EnvironmentName == "" ? "true" : "false");</script>
    <script>
        if (environmentIsProduction) {
            /* Matomo */
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "https://analyse.kartverket.no/analyse/";
                _paq.push(['setTrackerUrl', u + 'matomo.php']);
                _paq.push(['setSiteId', '16']);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
            })();


            /* Google Tag Manager */
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-MR2X5P');
        }</script>

</head>

<body class="geonorge-container prototype geonorge fixed-menu-margin">
    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    <main-navigation environment="@AppSettings.EnvironmentName.ToLower()"></main-navigation>
    <content-container>
        <breadcrumb-list id="breadcrumb-list"></breadcrumb-list>
        @if (ViewData["title"] != null)
        {
            <heading-text>
                <h1 underline>@ViewData["title"]</h1>
            </heading-text>
        }
        @RenderBody()
    </content-container>

    <geonorge-footer language="no" version="@AppSettings.BuildVersionNumber"
        environment="@AppSettings.EnvironmentName.ToLower()" />

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/init.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/BodyText.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/BreadcrumbList.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/ContentContainer.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GnInput.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GnSelect.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GnTable.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/GeonorgeFooter.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/HeadingText.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/MainNavigation.js" asp-append-version="true"></script>
    <script src="~/dist/js/geonorge-web-components/NavigationTabs.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    @if (AppSettings.EnvironmentName == "")
    {
        <noscript><p><img src="https://analyse.kartverket.no/analyse/matomo.php?idsite=16&rec=1" style="border:0" alt="" /></p></noscript>
    }
</body>

</html>
