@using Microsoft.AspNetCore.Mvc.Localization
@model Geonorge.Forvaltningsinformasjon.Web.Models.MappingProjects.Geovekst.MappingProjectDetailsViewModel
@inject ApplicationSettings AppSettings
@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Project.Name;
    ViewData["tabs"] = new TabViewModel[] {
        new TabViewModel() { Caption = "Prosjekter", Controller = "Projects", Aspect = false},
    };
}

@section scripts {
<script>
    geonorge.BreadcrumbList.BreadcrumbList.setup("#breadcrumb-list", {
        breadcrumbs: [
            {
                name: 'Geonorge',
                url: '@AppSettings.UrlGeonorgeRoot'
            },
            {
                name: '@Localizer["Forvaltningsinformasjon"]',
                url: '/'
            },
            {
                name: '@Localizer["Kartleggingsprosjekter Geovekst"]',
                url: '/mapping-projects/geovekst/projects'
            },
            {
                name: '@Localizer[Model.Project.Name]',
                url: '/mapping-projects/geovekst/projects/project-details?id=@Model.Project.Id'
            }
        ]
    });
</script>
}

<partial name="~/Views/Common/Tab.cshtml" />

<div>
    @RenderSection("projectsSection")
</div>