@using Microsoft.AspNetCore.Mvc.Localization
@model Geonorge.Forvaltningsinformasjon.Web.Models.MappingProjects.Geovekst.MappingProjectDetailsViewModel
@inject ApplicationSettings AppSettings
@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Project.Name;
}

@section scripts {
<script>
    geonorge.BreadcrumbList.BreadcrumbList.renderBreadcrumbs([
        {
            name: 'Geonorge',
            url: '@AppSettings.UrlGeonorgeRoot'
        },
        {
            name: '@Localizer["Forvaltningsinformasjon"]',
            url: '/'
        },
        {
            name: '@Localizer["Kartleggingsprosjekter Geovekst"]',
            url: '/mapping-projects/geovekst/projects'
        },
        {
            name: '@Localizer[Model.Project.Name]',
            url: '/mapping-projects/geovekst/projects/project-details?id=@Model.Project.Id'
        }
    ]);
</script>
}

<div>
    @RenderSection("projectsSection")
</div>