@using Microsoft.AspNetCore.Mvc.Localization
@using Geonorge.Forvaltningsinformasjon.Web.Abstractions.FkbData.Management.Aspects.Helpers

@inject IViewLocalizer Localizer
@inject IContextViewModelHelper ContextHelper

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["Forvaltning FKB"];
}

@section breadcrumb
    {
    <li>@Localizer["Forvaltning FKB"]</li>
}

<ul id="tabs" class="nav nav-tabs">
    <li class="tab active">
        @if (string.IsNullOrWhiteSpace(ViewBag.ContextViewModel.SelectedKey))
        {
            <a href="~/fkb-data/management/area/counties">@Localizer["Forvaltningssystem"]</a>
        }
        else if (ContextHelper.IsCounty(ViewBag.ContextViewModel.SelectedKey))
        {
            <a href="~/fkb-data/management/area/municipalities/by-county?id=@ContextHelper.Key2Id(ViewBag.ContextViewModel.SelectedKey)">@Localizer["Forvaltningssystem"]</a>
        }
        else
        {
            <a href="~/fkb-data/management/area/municipalities/@ContextHelper.Key2Id(ViewBag.ContextViewModel.SelectedKey)">@Localizer["Forvaltningssystem"]</a>
        }
    </li>
    <li class="tab" style="display:none">
        <a href="@Url.Action("Index", "Activities", !string.IsNullOrWhiteSpace(ViewBag.ContextViewModel.SelectedKey) ?
              new {
                id =  ContextHelper.Key2Id(ViewBag.ContextViewModel.SelectedKey),
                isCounty = ContextHelper.IsCounty(ViewBag.ContextViewModel.SelectedKey)
            } :
              null
              )">
            @Localizer["Aktivitetsoversikt"]
        </a>
    </li>
    <li class="tab">
        @if (string.IsNullOrWhiteSpace(ViewBag.ContextViewModel.SelectedKey))
        {
            <a href="~/fkb-data/management/transaction-data/transaction-data">@Localizer["Transaksjonsdata"]</a>
        }
        else if (ContextHelper.IsCounty(ViewBag.ContextViewModel.SelectedKey))
        {
            <a href="~/fkb-data/management/transaction-data/transaction-data/by-county?id=@ContextHelper.Key2Id(ViewBag.ContextViewModel.SelectedKey)">@Localizer["Transaksjonsdata"]</a>
        }
        else
        {
            <a href="~/fkb-data/management/transaction-data/transaction-data/by-municipality?id=@ContextHelper.Key2Id(ViewBag.ContextViewModel.SelectedKey)">@Localizer["Transaksjonsdata"]</a>
        }
    </li>
    <li class="tab">
        <a href="@Url.Action("Index", "OperationalStatus", !string.IsNullOrWhiteSpace(ViewBag.ContextViewModel.SelectedKey) ?
              new {
                id =  ContextHelper.Key2Id(ViewBag.ContextViewModel.SelectedKey),
                isCounty = ContextHelper.IsCounty(ViewBag.ContextViewModel.SelectedKey)
            } :
              null)">@Localizer["Driftsstatus"]</a>
        </li>
    </ul>

    <div>
        @RenderSection("fkbSection")
    </div>
